body{
  background-color: #F3FEFE;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  font-family: 'M PLUS 1p', sans-serif;
  padding: 20px 90px;

  text-decoration: none;
}


/* Nav bar end*/
h1 {
  font-size: 70pt;
  font-family: 'Gotu', sans-serif;
  text-align: center;
}

.btn-outline-shopnow{
  background-color: #FFF789;
  border: 1px solid black;
  width: 180px;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'M PLUS 1p', sans-serif;
}

.btn-outline-learnmore{
  background-color: #FFF789;
  border: 1px solid black;

  font-family: 'M PLUS 1p', sans-serif;
}

h2 {
  font-size: 45pt;
  font-family: 'Gotu', sans-serif;
  text-align: center;
  padding: 20px;
}

/* carousel */
.cards-wrapper{
  display: flex;
}
.card{
  /* margin: 25px; */
  margin: 0 auto;
  width: calc(100%/3.2);
  background-color: #E8DEFE;
  border: 1px solid black;
}

.card-title{
  font-size: 20pt;
  font-family: 'Gotu', sans-serif;
}

.card-body{
  border: 1px solid black;
}

.btn btn-primary{
  float: right;
}

/* 4 grid images */
.col-md-6{ padding: 20px;
  text-align: center;

}



/* company info */
.container p{
  font-size: 25pt;
  font-family: 'M PLUS 1p', sans-serif;
  text-align: center;
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
}


/* company info end */

.footer {
     left: 0;
     bottom: 0;
     width: 100%;
     font-family: 'M PLUS 1p', sans-serif;
     padding: 10px 20px;
     background: #07BEB8;
     color: white;
     padding: 40px;
     word-spacing: 55px;
     text-align: center;
   }
